[user]
	email = grclark@nvidia.com
	name = Greg Clark
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	editor = nvim
[init]
	defaultBranch = main
